<a href="https://colab.research.google.com/github/Krocan777/Python_projekt_Edinburgh/blob/main/Python_Projekt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import sqlalchemy

!pip install pymysql

Requirement already satisfied: pymysql in /usr/local/lib/python3.7/dist-packages (1.0.2)

In [ ]:
conn_string = "mysql+pymysql://student:p7%40vw7MCatmnKjy7@data.engeto.com/data"
alchemy_conn = sqlalchemy.create_engine(conn_string)

In [ ]:
eb_df = pd.read_sql('select * from edinburgh_bikes', con=alchemy_conn)

#Identifikace aktivních a neaktivních stanic

Po zobrazení a prozkoumání tabulky *edinburgh_bikes* jsem zjistil, že za celý časový usek (od 2018-09-15 do 2021-06-30) - čas vypůjčení kol, bylo využito 169 stanic. V roce 2021 (více, jak 6 měsíců) bylo využito pouze 98 stanic. 

Cílem je identifikovat aktivní a neaktivní stanice, hodnocení aktivit stanic budu dělat podle času, aby byly výstupy aktuální (není relevantní v druhé polovině roku 2021, jak se využivaly stanice v roce 2018, během té doby mohlo město porojít změnou a dopravní trasy se se změnou města vyvíjí). 

Výpočet aktivních a neaktivních stanic: 169 - 98 = 71 (neaktivních)

In [ ]:
eb_df

        index           started_at  ... end_station_latitude  end_station_longitude
0           0  2018-09-15 08:52:05  ...            55.954728              -3.192653
1           1  2018-09-15 09:24:33  ...            55.962804              -3.196284
2           2  2018-09-15 09:48:54  ...            55.977638              -3.174116
3           3  2018-09-16 12:01:36  ...            55.923479              -3.175385
4           4  2018-09-16 12:03:43  ...            55.923202              -3.171646
...       ...                  ...  ...                  ...                    ...
438254  12636  2021-06-30 23:30:31  ...            55.957915              -3.118332
438255  12637  2021-06-30 23:36:16  ...            55.957915              -3.118332
438256  12638  2021-06-30 23:49:03  ...            55.949560              -3.180413
438257  12639  2021-06-30 23:49:03  ...            55.949560              -3.180413
438258  12640  2021-06-30 23:58:33  ...            55.960852              -3.180986

[438259 rows x 14 columns]

In [ ]:
celkovy_pocet_stanic = eb_df.groupby('start_station_name')[['index', 'ended_at']].count()
celkovy_pocet_stanic = celkovy_pocet_stanic.reset_index().drop(columns=(['index', 'ended_at']))
celkovy_pocet_stanic.shape

(169, 1)

## Seznam_aktivnich_stanic

In [ ]:
seznam_aktivnich_stanic = eb_df.query("started_at > '2021-01-01 00:00:00'")
seznam_aktivnich_stanic = seznam_aktivnich_stanic[['index', 'start_station_name']].groupby('start_station_name').count()
seznam_aktivnich_stanic.reset_index(inplace=True)
seznam_aktivnich_stanic.drop(columns=['index'], inplace=True)
seznam_aktivnich_stanic

          start_station_name
0                  Abbeyhill
1               Belford Road
2                Boroughmuir
3           Borrowman Square
4              Bristo Square
..                       ...
93            Waverley Court
94          Waverley Station
95        West Crosscauseway
96     Wester Coates Terrace
97  Western General Hospital

[98 rows x 1 columns]

##Seznam_neaktivnich_stanic

Vytvořil jsem si proměnnou celkovy_pocet_stanic, kde jsou všechny stanice (169).
Pomocí outer join a níže uvedených úprav jsem vytvořil seznam stanic (seznam_neaktivnich_stanic), které jsou neaktivní.

In [ ]:
seznam_neaktivnich_stanic = celkovy_pocet_stanic.join(seznam_aktivnich_stanic, how='outer', rsuffix='_n')
seznam_neaktivnich_stanic = seznam_neaktivnich_stanic[seznam_neaktivnich_stanic['start_station_name_n'].isnull()]                            #.query("start_station_name_n.isnull()", engine = 'python')
seznam_neaktivnich_stanic.reset_index(inplace=True)
seznam_neaktivnich_stanic.drop(columns=['start_station_name_n', 'index'], inplace=True)
seznam_neaktivnich_stanic

                      start_station_name
0                     Marchmont Crescent
1                          McDonald Road
2                           Meadow Place
3                         Meadow Place 2
4   Meadows - Edinburgh Climate Festival
..                                   ...
66                 Wester Coates Terrace
67                       Western General
68              Western General Hospital
69                       Whitehouse Loan
70                       Whitehouse Road

[71 rows x 1 columns]