<a href="https://colab.research.google.com/github/Krocan777/Python_projekt_Edinburgh/blob/main/Python_Projekt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import sqlalchemy

!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 2.2 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [2]:
conn_string = "mysql+pymysql://student:p7%40vw7MCatmnKjy7@data.engeto.com/data"
alchemy_conn = sqlalchemy.create_engine(conn_string)

In [3]:
eb_df = pd.read_sql('select * from edinburgh_bikes', con=alchemy_conn)

#Identifikace aktivních a neaktivních stanic

Po zobrazení a prozkoumání tabulky *edinburgh_bikes* jsem zjistil, že za celý časový usek (od 2018-09-15 do 2021-06-30) - čas vypůjčení kol, bylo využito 169 stanic. V roce 2021 (více, jak 6 měsíců) bylo využito pouze 98 stanic. 

Cílem je identifikovat aktivní a neaktivní stanice, hodnocení aktivit stanic budu dělat podle času, aby byly výstupy aktuální (není relevantní v druhé polovině roku 2021, jak se využivaly stanice v roce 2018, během té doby mohlo město porojít změnou a dopravní trasy se se změnou města vyvíjí). 

Výpočet aktivních a neaktivních stanic: 169 - 98 = 71 (neaktivních)

In [208]:
eb_df.sort_values('started_at', ascending=False)

        index           started_at  ... end_station_latitude  end_station_longitude
438258  12640  2021-06-30 23:58:33  ...            55.960852              -3.180986
438257  12639  2021-06-30 23:49:03  ...            55.949560              -3.180413
438256  12638  2021-06-30 23:49:03  ...            55.949560              -3.180413
438255  12637  2021-06-30 23:36:16  ...            55.957915              -3.118332
438254  12636  2021-06-30 23:30:31  ...            55.957915              -3.118332
...       ...                  ...  ...                  ...                    ...
4           4  2018-09-16 12:03:43  ...            55.923202              -3.171646
3           3  2018-09-16 12:01:36  ...            55.923479              -3.175385
2           2  2018-09-15 09:48:54  ...            55.977638              -3.174116
1           1  2018-09-15 09:24:33  ...            55.962804              -3.196284
0           0  2018-09-15 08:52:05  ...            55.954728              -3.192653

[438259 rows x 14 columns]

In [5]:
celkovy_pocet_stanic = eb_df.groupby('start_station_name')[['index', 'ended_at']].count()
celkovy_pocet_stanic = celkovy_pocet_stanic.reset_index().drop(columns=(['index', 'ended_at']))
celkovy_pocet_stanic.shape

(169, 1)

## Seznam_aktivnich_stanic

In [6]:
seznam_aktivnich_stanic = eb_df.query("started_at > '2021-01-01 00:00:00'")
seznam_aktivnich_stanic = seznam_aktivnich_stanic[['index', 'start_station_name']].groupby('start_station_name').count()
seznam_aktivnich_stanic.reset_index(inplace=True)
seznam_aktivnich_stanic.drop(columns=['index'], inplace=True)
seznam_aktivnich_stanic

          start_station_name
0                  Abbeyhill
1               Belford Road
2                Boroughmuir
3           Borrowman Square
4              Bristo Square
..                       ...
93            Waverley Court
94          Waverley Station
95        West Crosscauseway
96     Wester Coates Terrace
97  Western General Hospital

[98 rows x 1 columns]

##Seznam_neaktivnich_stanic

Vytvořil jsem si proměnnou celkovy_pocet_stanic, kde jsou všechny stanice (169).
Pomocí outer join a níže uvedených úprav jsem vytvořil seznam stanic (seznam_neaktivnich_stanic), které jsou neaktivní.

In [7]:
seznam_neaktivnich_stanic = celkovy_pocet_stanic.join(seznam_aktivnich_stanic, how='outer', rsuffix='_n')
seznam_neaktivnich_stanic = seznam_neaktivnich_stanic[seznam_neaktivnich_stanic['start_station_name_n'].isnull()]                            #.query("start_station_name_n.isnull()", engine = 'python')
seznam_neaktivnich_stanic.reset_index(inplace=True)
seznam_neaktivnich_stanic.drop(columns=['start_station_name_n', 'index'], inplace=True)
seznam_neaktivnich_stanic

                      start_station_name
0                     Marchmont Crescent
1                          McDonald Road
2                           Meadow Place
3                         Meadow Place 2
4   Meadows - Edinburgh Climate Festival
..                                   ...
66                 Wester Coates Terrace
67                       Western General
68              Western General Hospital
69                       Whitehouse Loan
70                       Whitehouse Road

[71 rows x 1 columns]

#Identifikace nejfrekventovanějších stanic

Indentifikaci nejfrekventovanějších stanic jsem provedl pouze v roce 2021 ze stejného důvodu jako u předchozího úkolu. Z 98 aktivních stanic jsem vybral 10 nejfrekventovanějších stanic (start_station_name) a 10 nejfrekvetovanějších stanic (end_station_name)

## top_start_station

In [68]:
top_start_station = eb_df.query("started_at > '2021-01-01 00:00:00'").assign(pocet_odjezdu = 1).groupby('start_station_name').count().reset_index()
top_start_station = top_start_station[['start_station_name', 'pocet_odjezdu']].sort_values('pocet_odjezdu', ascending=False)
top_start_station = top_start_station.head(10).set_index('start_station_name')
top_start_station.head(3)

                         pocet_odjezdu
start_station_name
Meadows East                      3169
Portobello - Kings Road           2976
Meadow Place                      2786

## top_end_station

In [69]:
top_end_station = eb_df.query("started_at > '2021-01-01 00:00:00'").assign(pocet_prijezdu = 1).groupby('end_station_name').count().reset_index()
top_end_station = top_end_station[['end_station_name', 'pocet_prijezdu']].sort_values('pocet_prijezdu', ascending=False)
top_end_station = top_end_station.head(10).set_index('end_station_name')
top_end_station.head(3)

                         pocet_prijezdu
end_station_name
Portobello - Kings Road            5366
Victoria Quay                      2901
Meadows East                       2491

In [65]:
top_start_station.join(top_end_station, how='inner')

                         pocet_odjezdu  pocet_prijezdu
Meadows East                      3169            2491
Portobello - Kings Road           2976            5366
Meadow Place                      2786            1952
Pollock Halls                     2597            1480
Victoria Quay                     1946            2901
Dynamic Earth                     1432            1642
Canonmills                        1403            1713
Cramond Foreshore                 1337            1766

Výše uvedený INNER JOIN nám ukazuje, že mezi 8 z 10 nejfrekventovanějšími stanicemi (start_station_name a end_station_name) je vysoký oboustranný provoz, jelikož 8 z 10 stanic je v obou (top_start_station a top_end_station) TOP deseti stanicích.

#Identifikace stanic, kde se kola hromadí, a kde potenciálně chybí

Identifikaci stanic, kde se kola hormadí nebo naopak chybí zjistíme pomocí rozdílu mezi pocet_odjezdu a pocet_prijezdu na jednotlivých stanicích. Když bude více odjezdů než příjezdů, tak kola můžou potenciálně chybět (hlavně, když bude rozdíl veliký), a když bude více příjezdů než odjezdů, tak kola se budou na dané stanici hromadit. Opět budeme provádět analyzu z dat z roku 2021.

In [197]:
pocet_odjezdu = eb_df.query("started_at > '2021-01-01 00:00:00'").assign(pocet_odjezdu = 1).groupby('start_station_name').count().reset_index()
pocet_odjezdu = pocet_odjezdu[['start_station_name', 'pocet_odjezdu']].sort_values('pocet_odjezdu', ascending=True).set_index('start_station_name')
pocet_odjezdu.head(3)

                       pocet_odjezdu
start_station_name
Scotstoun House                   10
Ingliston Park & Ride             14
Borrowman Square                  23

In [196]:
pocet_prijezdu = eb_df.query("started_at > '2021-01-01 00:00:00'").assign(pocet_prijezdu = 1).groupby('end_station_name').count().reset_index()
pocet_prijezdu = pocet_prijezdu[['end_station_name', 'pocet_prijezdu']].sort_values('pocet_prijezdu', ascending=True).set_index('end_station_name')
pocet_prijezdu.head(3)

                  pocet_prijezdu
end_station_name
Scotstoun House                4
Dalmeny Station               20
Borrowman Square              25

In [206]:
pocet_odjezdu_prijezdu = pocet_odjezdu.join(pocet_prijezdu)                                 
pocet_odjezdu_prijezdu = pocet_odjezdu_prijezdu.assign(diff=pocet_odjezdu_prijezdu['pocet_odjezdu'] - pocet_odjezdu_prijezdu['pocet_prijezdu'])
pocet_odjezdu_prijezdu.head(3)                                                          # tabulka znázorňuje počty odjezdů, příjezdů kol do a ze stanic a hlavně jejich rozdíl

                       pocet_odjezdu  pocet_prijezdu  diff
start_station_name
Scotstoun House                   10               4     6
Ingliston Park & Ride             14              34   -20
Borrowman Square                  23              25    -2

## seznam stanic, kde kola potenciálně chybí (stanice_kola_chybi)

In [200]:
stanice_kola_chybi = pocet_odjezdu_prijezdu.query("diff > 0").sort_values('diff')
stanice_kola_chybi.rename(columns={'diff': 'potencialne_chybejici_kola'}, inplace=True)
stanice_kola_chybi.reset_index(inplace=True)
stanice_kola_chybi.drop(columns=['pocet_odjezdu', 'pocet_prijezdu'], inplace=True)
stanice_kola_chybi.sort_values('potencialne_chybejici_kola', ascending=False, inplace=True)
stanice_kola_chybi.reset_index(inplace=True)
stanice_kola_chybi.drop(columns=['index'], inplace=True)
stanice_kola_chybi.head()

  start_station_name  potencialne_chybejici_kola
0      Pollock Halls                        1117
1       Meadow Place                         834
2  Bruntsfield Links                         790
3       Meadows East                         678
4      City Chambers                         500

- čísla ve sloupci potencialne_chybejici_kola ukazuji o kolik kol bylo klienty na dané stanici více odvezeno než přivezeno za období 2021-01-01 až 2021-07-01.

## seznam stanic, kde se kola hromadi (stanice_kola_hromadi)

In [201]:
stanice_kola_hromadi = pocet_odjezdu_prijezdu.query("diff < 0").sort_values('diff', ascending=True)
stanice_kola_hromadi.reset_index(inplace=True)
stanice_kola_hromadi = stanice_kola_hromadi.assign(hromadici_se_kola = stanice_kola_hromadi[['diff']].abs())
stanice_kola_hromadi.drop(columns=['pocet_odjezdu', 'pocet_prijezdu', 'diff'], inplace=True)
stanice_kola_hromadi.sort_values('hromadici_se_kola', ascending=False, inplace=True)
stanice_kola_hromadi.head()

        start_station_name  hromadici_se_kola
0  Portobello - Kings Road               2390
1              Duke Street               1189
2            Victoria Quay                955
3        Cramond Foreshore                429
4               Canonmills                310

- čísla ve sloupci hromadici_se_kola ukazuji o kolik kol bylo klienty na dané stanici více privezeno než odvezeno za období 2021-01-01 až 2021-07-01.

## seznam stanic, kde je stav počtu kol ideální

In [202]:
stanice_kola_chybi = pocet_odjezdu_prijezdu.query("diff == 0").sort_values('diff')
stanice_kola_chybi.rename(columns={'diff': 'pocet_chybejicich_hromadicich_kol'}, inplace=True)
stanice_kola_chybi.reset_index(inplace=True)
stanice_kola_chybi.drop(columns=['pocet_odjezdu', 'pocet_prijezdu'], inplace=True)
stanice_kola_chybi.head()

                  start_station_name  pocet_chybejicich_hromadicich_kol
0  Kings Buildings - Murchison House                                  0
1                  Haymarket Station                                  0